/* Navbar Wrapper */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  /* Left Section */
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .logo {
    width: 120px;
    transition: transform 0.3s ease-in-out;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  /* .location {
    display: flex;
    width: 150px;
    flex-direction: column;
  }
  
  .location-title {
    font-weight: bold;
    color: #262626;
  }
  
  .location-selector {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .location-selector:focus {
    border-color: #ff5722;
  }
  
  .location-details {
    color: #808080;
    font-size: 14px;
  } */
  
  /* Navbar Menu */
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 16px;
    font-weight: 500;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #49557e;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-menu a:hover,
  .navbar-menu .active {
    background-color: #f87249;
    color: #fff;
  }
  
  /* Right Section */
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
  }
  
  .search-input {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #e0e0e0;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .search-input:focus {
    border-color: #ff5722;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
  }
  
  .search-input::placeholder {
    color: #b0b0b0;
    font-size: 16px;
  }
  



  .navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .navbar-cart {
    position: relative;
    display: inline-block;
  }
  
  .icon {
    width: 24px; 
  }
  
  .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white; 
  }
  
  
  .navbar-profile {
    position: relative;
  }
  
  .navbar-profile .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #f7dada;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    padding: 8px 0;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .navbar-profile:hover .profile-dropdown,
  .navbar-profile .icon:focus + .profile-dropdown {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  
  .profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .profile-dropdown li:hover {
    background-color: #f5d1d1;
    color: #ff5722;
  }
  
  .profile-dropdown li img {
    width: 20px;
    height: 20px;
  }
  
  .navbar-button {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #49557e;
    border-radius: 20px;
    color: #49557e;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .navbar-button:hover {
    background-color: #ff5722;
    color: #ffffff;
    border-color: #ff5722;
  }
  
  .navbar-button:focus {
    outline: 2px solid #ff5722;
    outline-offset: 4px;
  }
  
  
  /* Media Queries for Responsive Design */
  @media (max-width: 1050px) {
    .navbar .logo {
      width: 100px;
    }
  
    .navbar-menu {
      gap: 15px;
      font-size: 14px;
    }
  
    .navbar-right {
      gap: 25px;
    }
  
    .navbar-right img {
      width: 20px;
    }
  
    .navbar button {
      padding: 7px 20px;
      font-size: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .navbar-left {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 15px;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-right {
      width: 100%;
      justify-content: space-between;
      gap: 10px;
    }
  
    .navbar-profile {
      display: flex;
    }
  
    .navbar-cart {
      position: static;
    }
  
    .navbar button {
      width: 100%;
      margin-top: 10px;
    }
  }
  