.header {
    height: 34vw;
    margin: 30px auto;
    background: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

  
  .header-contents {
    position: absolute;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.3vw;
    max-width: 50%;
    bottom: 10%;
    left: 5vw;
    animation: fadeIn 3s;
  }
  
  .header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: 4vw;
  }
  
  .header-contents p {
    font-weight: 500;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
  }
  
  .header-contents button {
    padding: 1vw 2.2vw;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    color: black;
    font-size: max(1vw, 13px);
    background-color: rgb(240, 80, 40);
  }
  
  .header-contents button:hover {
    background-color: rgb(200, 60, 30);
    transform: scale(1.05);
  }
  
  @media (max-width: 1050px) {
    .header-contents {
      max-width: 45%;
    }
  }
  
  @media (max-width: 750px) {
    .header-contents {
      max-width: 65%;
      align-items: center;
      text-align: center;
    }
    .header-contents p {
      display: none;
    }
    .header-contents button {
      padding: 2vw 4vw;
    }
  }
  